<div class="container-fluid active-page p-0 m-0">
  <h2 class="title p-2 text-center">Agendamentos</h2>
    <!-- Tabela de Agendamentos -->
  <div class="container p-0 m-0">
    <div class="table-responsive border-top">
    <table class="table table-hover align-middle">
      <thead class="table-light table-header">
        <tr>
          <th scope="col">Horário</th>
          <th scope="col">Cliente</th>
          <th scope="col">Pet</th>
          <th scope="col">Veterinário</th>
          <th scope="col">Especialidade</th>
        </tr>
      </thead>
      <tbody>
        <!-- Exemplo de agendamentos fixos -->
        <tr>
          <td>09:00</td>
          <td>Maria Silva</td>
          <td>Rex (Cachorro)</td>
          <td>Dr. João Mendes</td>
          <td>Clínica Geral</td>
        </tr>
        <tr>
          <td>11:30</td>
          <td>Pedro Souza</td>
          <td>Mingau (Gato)</td>
          <td>Dr. Carla Teixeira</td>
          <td>Dermatologia</td>
        </tr>
        <tr>
          <td>15:00</td>
          <td>Ana Paula</td>
          <td>Bolinha (Coelho)</td>
          <td>Dr. João Mendes</td>
          <td>Exóticos</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

</div>